<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/89d0c4aa-7783-4d46-8aa3-47d20d522ae3/resourceGroups/LAtelier/providers/Microsoft.Web/sites/CatMashRinzler</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://catmashrinzler.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>catmashrinzler.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CatMashRinzler</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CatMashRinzler</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>