<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/280f4506-916f-4b31-9009-7fd38ad90b4e/resourceGroups/CatMash/providers/Microsoft.Web/sites/RinzlerCatMash</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://rinzlercatmash.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>rinzlercatmash.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RinzlerCatMash</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RinzlerCatMash</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>